.dropDown {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  padding: 0px 0px;
  background: #fff;
  border: 1px solid rgb(201, 201, 201);
  opacity: 0;
  min-width: 160px;
  pointer-events: none;
  z-index: 1;
}

.dropDown.dropDown-active {
  opacity: 1;
  pointer-events: all;
}

.dropDown_variant_accordion {
  overflow: hidden;
  z-index: 1;
  border: none;
}

.children {
  display: flex;
  flex-direction: column;
}

.dropDown-open-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.dropDown-open-button path {
  fill: #000;
}
