.tickets {
  padding-top: 10px;
  padding-bottom: 10px;
}

.tickets .tickets-tools {
  display: flex;
  justify-content: space-between;
}

.tickets .tickets-tools .export {
  display: flex;
  align-items: center;
  gap: 15px;
}
.tickets .tickets-tools .export > .text {
  color: rgb(39, 73, 138);
}

@media (max-width: 600px) {
  .tickets .tickets-tools {
    flex-direction: column;
    gap: 10px;
  }
  .tickets .tickets-tools .export {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
