.selectOption .separator {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 51.04%,
    rgba(255, 255, 255, 0) 100%
  );
  margin: 0px;
}

.selectOption-padding-y-10 {
  padding: 10px 0px;
}

/* selectOption_variant_detail */

.selectOption_variant_detail {
  padding: 15px 0px;
  gap: 15px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selectOption_variant_detail .badge {
  width: 150px;
  height: 50px;
  background: var(--gradient-yellow);
}

.selectOption_variant_detail .badge .text {
  opacity: 1;
}

.selectOption_variant_detail .content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.selectOption_variant_detail .info {
  display: flex;
  gap: 10px;
  margin-right: 80px;
}

.selectOption_variant_detail > div:not(.info):not(.badge) .text:first-child {
  color: var(--yellow);
}

.selectOption_variant_detail .svgIcon {
  margin-top: 5px;
}

.selectOption_variant_detail .info .title {
  width: 170px;
}

/* selectOption_variant_nodetail */

.selectOption_variant_nodetail {
  display: flex;
  gap: 10px;
  padding: 15px 0px;
  flex-wrap: wrap;
  align-items: center;
}

.selectOption_variant_nodetail .info {
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

/* selectOption_variant_default */

.selectOption_variant_default {
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
}

.selectOption_variant_default > div {
  display: flex;
}

.selectOption_variant_default .svgIcon {
  margin-right: 10px;
}

/* selectOption_variant_format */

.selectOption_variant_format {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectOption_variant_format > div {
  display: flex;
  align-items: center;
}

.selectOption_variant_format .svgIcon {
  margin-right: 10px;
}

.selectOption_variant_format .pixel {
  width: 66px;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  background: var(--blocks);
  border-radius: 10px;
  color: var(--gray-text);
}
