.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.login .login-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login > div {
  width: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.login > div .button {
  margin-top: 40px;
}

.login > div .button .text {
  font-weight: 700;
}

@media (max-width: 600px) {
}
