.input {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: fit-content;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 4px;
  max-height: 32px;
}

.input .leftSide {
  padding: 6px 0px 6px 6px;
}

.input .leftSide i {
  font-size: 14px;
  line-height: 14px;
}

.input input,
.input textarea {
  border: none;
  background: none;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  flex-grow: 1;
  padding: 8px;
  min-width: 100px;
}

.input input {
  max-height: 30px;
}

.input textarea {
  resize: none;
  height: 100%;
}

.input input::placeholder,
.input textarea::placeholder {
  opacity: 0.5;
}

.input input:focus,
.input textarea:focus {
  outline: none;
}

.input_hidden input,
.input_hidden textarea {
  display: none;
}

.input .svgIcon {
  cursor: pointer;
  padding: 6px 6px 6px 6px;
}
