.table.table-variant-subscriptions {
  margin: 0px 20px;
}

.table.table-variant-subscriptions .button {
  width: 34px;
  height: 34px;
}

.table.table-variant-subscriptions .table-row-content {
  display: flex;
}

.table.table-variant-subscriptions .table-row .table-row-cell-1 {
  padding: 15px 5px 15px 0px;
}

.table.table-variant-subscriptions .table-row .table-row-cell-2 {
  padding: 15px 35px 15px 15px;
}

.table.table-variant-subscriptions .table-row .table-row-cell-3,
.table.table-variant-subscriptions .table-row .table-row-cell-4,
.table.table-variant-subscriptions .table-row .table-row-cell-5 {
  padding: 15px 0px 15px 15px;
}

.table.table-variant-subscriptions .table-row .table-row-cell-6,
.table.table-variant-subscriptions .table-row .table-row-cell-7,
.table.table-variant-subscriptions .table-row .table-row-cell-8 {
  padding: 8px 15px;
}

.table.table-variant-subscriptions .table-header .table-column-cell-1 {
  padding-left: 0px !important;
  padding-right: 5px;
}

.table.table-variant-subscriptions .table-header [class*="table-column-cell"] {
  padding-left: 15px;
  padding-bottom: 10px;
}

.table.table-variant-subscriptions .table-header .table-column-cell-1,
.table.table-variant-subscriptions .table-separators .table-column-cell-1,
.table.table-variant-subscriptions .table-row-content .table-row-cell-1 {
  width: 5.8%;
}

.table.table-variant-subscriptions .table-header .table-column-cell-2,
.table.table-variant-subscriptions .table-separators .table-column-cell-2,
.table.table-variant-subscriptions .table-row-content .table-row-cell-2 {
  width: 27.2%;
}

.table.table-variant-subscriptions .table-header .table-column-cell-3,
.table.table-variant-subscriptions .table-separators .table-column-cell-3,
.table.table-variant-subscriptions .table-row-content .table-row-cell-3 {
  width: 19.4%;
}

.table.table-variant-subscriptions .table-header .table-column-cell-4,
.table.table-variant-subscriptions .table-separators .table-column-cell-4,
.table.table-variant-subscriptions .table-row-content .table-row-cell-4 {
  overflow: hidden;
  width: 14.5%;
}

.table.table-variant-subscriptions .table-row-content .table-row-cell-4 .text {
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
}

.table.table-variant-subscriptions .table-header .table-column-cell-5,
.table.table-variant-subscriptions .table-separators .table-column-cell-5,
.table.table-variant-subscriptions .table-row-content .table-row-cell-5 {
  width: 8.7%;
}

.table.table-variant-subscriptions .table-row-content .table-row-cell-5 .text {
  color: var(--yellow);
}

.table.table-variant-subscriptions .table-header .table-column-cell-6,
.table.table-variant-subscriptions .table-separators .table-column-cell-6,
.table.table-variant-subscriptions .table-row-content .table-row-cell-6 {
  width: 11.7%;
}

.table.table-variant-subscriptions .table-header .table-column-cell-7,
.table.table-variant-subscriptions .table-separators .table-column-cell-7,
.table.table-variant-subscriptions .table-row-content .table-row-cell-7 {
  width: 6.8%;
}

.table.table-variant-subscriptions .table-header .table-column-cell-8,
.table.table-variant-subscriptions .table-separators .table-column-cell-8,
.table.table-variant-subscriptions .table-row-content .table-row-cell-8 {
  width: 5.9%;
}

.table.table-variant-subscriptions
  .table-row-content
  .table-row-cell-8
  .svgIcon {
  stroke: var(--yellow) !important;
}

/* @media (max-width: 1439px) {
  .table.table-variant-subscriptions .table-header .table-column-cell-1 {
    padding-left: 0px !important;
  }
  .table.table-variant-subscriptions
    .table-header
    [class*="table-column-cell"] {
    padding-left: 8px;
    padding-bottom: 10px;
  }

  .table.table-variant-subscriptions .table-row .table-row-cell-2 {
    padding: 15px 35px 15px 8px;
  }

  .table.table-variant-subscriptions .table-row .table-row-cell-3,
  .table.table-variant-subscriptions .table-row .table-row-cell-4,
  .table.table-variant-subscriptions .table-row .table-row-cell-5 {
    padding: 15px 5px 15px 8px;
  }

  .table.table-variant-subscriptions .table-row .table-row-cell-6,
  .table.table-variant-subscriptions .table-row .table-row-cell-7,
  .table.table-variant-subscriptions .table-row .table-row-cell-8 {
    padding: 8px 8px;
  }

  .table.table-variant-subscriptions .table-header .table-column-cell-1,
  .table.table-variant-subscriptions .table-separators .table-column-cell-1,
  .table.table-variant-subscriptions .table-row-content .table-row-cell-1 {
    width: 6.8%;
  }

  .table.table-variant-subscriptions .table-header .table-column-cell-2,
  .table.table-variant-subscriptions .table-separators .table-column-cell-2,
  .table.table-variant-subscriptions .table-row-content .table-row-cell-2 {
    width: 21.2%;
  }

  .table.table-variant-subscriptions .table-header .table-column-cell-3,
  .table.table-variant-subscriptions .table-separators .table-column-cell-3,
  .table.table-variant-subscriptions .table-row-content .table-row-cell-3 {
    width: 16.4%;
  }

  .table.table-variant-subscriptions .table-header .table-column-cell-4,
  .table.table-variant-subscriptions .table-separators .table-column-cell-4,
  .table.table-variant-subscriptions .table-row-content .table-row-cell-4 {
    width: 16.5%;
  }

  .table.table-variant-subscriptions .table-header .table-column-cell-6,
  .table.table-variant-subscriptions .table-separators .table-column-cell-6,
  .table.table-variant-subscriptions .table-row-content .table-row-cell-6 {
    width: 14.7%;
  }

  .table.table-variant-subscriptions .table-header .table-column-cell-7,
  .table.table-variant-subscriptions .table-separators .table-column-cell-7,
  .table.table-variant-subscriptions .table-row-content .table-row-cell-7 {
    width: 7.8%;
  }

  .table.table-variant-subscriptions .table-header .table-column-cell-8,
  .table.table-variant-subscriptions .table-separators .table-column-cell-8,
  .table.table-variant-subscriptions .table-row-content .table-row-cell-8 {
    width: 7.9%;
  }
}

@media (max-width: 834px) {
  .table.table-variant-subscriptions {
    padding-top: 25px;
    padding-bottom: 25px;
    flex-direction: row;
  }

  .table.table-variant-subscriptions {
    margin: 0px;
  }

  .table.table-variant-subscriptions .table-content {
    width: 100%;
  }

  .table.table-variant-subscriptions
    .table-content
    .table-row
    .table-row-content,
  .table.table-variant-subscriptions .table-header,
  .table.table-variant-subscriptions .table-separators {
    display: none;
  }

  .table.table-variant-subscriptions
    .table-content
    .table-row
    .table-small-row-content {
    display: flex;
    height: 466px;
  }

  .table.table-variant-subscriptions
    .table-content
    .table-row
    .table-small-row-content
    > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
  }

  .table.table-variant-subscriptions .table-small-header {
    padding: 0px 15px 0px 30px;
    width: 44.5%;
  }
  .table.table-variant-subscriptions .table-small-row {
    padding: 0px 15px 0px 20px;
    width: 55.5%;
  }

  .table.table-variant-subscriptions .table-small-row-content .text {
    font-size: 14px;
    line-height: 20px;
  }

  .table.table-variant-subscriptions .table-hr {
    position: absolute;
    width: 1px;
    height: 99%;

    background: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    left: 44.5%;
  }

  .table.table-variant-subscriptions .table-small-header > *,
  .table.table-variant-subscriptions .table-small-row > * {
    height: 12.5%;
    display: flex;
    align-items: center;
  }

  .table.table-variant-subscriptions .table-row [class*="table-row-cell"] {
    padding: 0px;
  }
} */
