.table.table-variant-users .table-header .table-column-cell-1,
.table.table-variant-users .table-row-content .table-row-cell-1 {
  width: 2.6%;
  justify-content: center;
}

.table.table-variant-users .table-header .table-column-cell-2,
.table.table-variant-users .table-row-content .table-row-cell-2 {
  width: 3.9%;
}

.table.table-variant-users .table-header .table-column-cell-3,
.table.table-variant-users .table-row-content .table-row-cell-3 {
  width: 8.9%;
}

.table.table-variant-users .table-header .table-column-cell-4,
.table.table-variant-users .table-row-content .table-row-cell-4 {
  overflow: hidden;
  width: 20.4%;
}

.table.table-variant-users .table-header .table-column-cell-5,
.table.table-variant-users .table-row-content .table-row-cell-5 {
  width: 6%;
}

.table.table-variant-users .table-header .table-column-cell-6,
.table.table-variant-users .table-row-content .table-row-cell-6 {
  width: 6%;
}

.table.table-variant-users .table-header .table-column-cell-7,
.table.table-variant-users .table-row-content .table-row-cell-7 {
  width: 8%;
}

.table.table-variant-users .table-header .table-column-cell-8,
.table.table-variant-users .table-row-content .table-row-cell-8 {
  width: 10.8%;
}

.table.table-variant-users .table-header .table-column-cell-9,
.table.table-variant-users .table-row-content .table-row-cell-9 {
  width: 10.8%;
}

.table.table-variant-users .table-header .table-column-cell-10,
.table.table-variant-users .table-row-content .table-row-cell-10 {
  width: 7.4%;
}

.table.table-variant-users .table-header .table-column-cell-11,
.table.table-variant-users .table-row-content .table-row-cell-11 {
  width: 9.1%;
}

.table.table-variant-users .table-header .table-column-cell-12,
.table.table-variant-users .table-row-content .table-row-cell-12 {
  position: relative;
  width: 6%;
}

.table.table-variant-users
  .table-header
  [class*="table-column-cell"]
  .svgIcon
  path {
  fill: #000;
}

.table.table-variant-users
  .table-header
  .table-column-cell-1
  .checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 4px;
}

.table.table-variant-users .table-row-content .table-row-cell-4 {
  justify-content: space-between;
}

.table.table-variant-users .table-row-content .table-row-cell-4 .icons {
  display: flex;
  gap: 5px;
  margin-right: 4px;
}

.table.table-variant-users .table-row-content .table-row-cell-4 .status {
  padding: 1px;
  border: 1px solid #000;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  margin-left: 5px;
}

.table.table-variant-users .table-header .table-column-cell-7 .button {
  margin-left: -9px;
}
