.table-container.table-services {
  height: calc(100% - 42px);
  max-height: calc(100% - 42px);
}

.table.table-variant-services {
  height: 100%;
}

.table.table-variant-services .table-content {
  height: 100%;
  overflow-y: scroll;
}

.table.table-variant-services .table-content::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid rgb(201, 201, 201);
}

.table.table-variant-services .table-content::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201);
}

.table.table-variant-services .table-row-content {
  border-bottom: 1px solid rgb(201, 201, 201);
}

.table.table-variant-services .table-row-content:last-child {
  border-bottom: unset;
}

.table.table-variant-services .table-header .table-column-cell-1 {
  justify-content: center;
}

.table.table-variant-services .table-header .table-column-cell-1,
.table.table-variant-services .table-row-content .table-row-cell-1 {
  width: 3.2%;
  gap: 5px;
}

.table.table-variant-services .table-header .table-column-cell-2,
.table.table-variant-services .table-row-content .table-row-cell-2 {
  width: 3.9%;
}

.table.table-variant-services .table-header .table-column-cell-3 {
  width: calc(41.2% - 6px);
}

.table.table-variant-services .table-row-content .table-row-cell-3 {
  width: 41.2%;
}

.table.table-variant-services .table-header .table-column-cell-4,
.table.table-variant-services .table-row-content .table-row-cell-4 {
  width: 15.3%;
}

.table.table-variant-services .table-header .table-column-cell-5,
.table.table-variant-services .table-row-content .table-row-cell-5 {
  width: 6.9%;
}

.table.table-variant-services .table-header .table-column-cell-6,
.table.table-variant-services .table-row-content .table-row-cell-6 {
  width: 7.9%;
}

.table.table-variant-services .table-header .table-column-cell-7,
.table.table-variant-services .table-row-content .table-row-cell-7 {
  width: 7.9%;
}

.table.table-variant-services .table-header .table-column-cell-8,
.table.table-variant-services .table-row-content .table-row-cell-8 {
  width: 6.9%;
}

.table.table-variant-services .table-header .table-column-cell-9,
.table.table-variant-services .table-row-content .table-row-cell-9 {
  width: 6.8%;
}

.table.table-variant-services
  .table-header
  [class*="table-column-cell"]
  .svgIcon
  path {
  fill: #000;
}

.table.table-variant-services
  .table-header
  .table-column-cell-1
  .checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 4px;
}

.table.table-variant-services
  .table-row-content
  .table-row-cell-9
  .button
  > .dropDown {
  z-index: 2;
}

.table.table-variant-services
  .table-content
  > .table-row:last-child
  .accordion-container
  .accordion {
  border-bottom: 1px solid rgb(201, 201, 201);
}

.table.table-variant-services .table-header .table-column-cell-4 .dropDown {
  min-width: 240px;
}

.table.table-variant-services .table-header .table-column-cell-8 .button {
  margin-left: -8px;
}

.table.table-variant-services .table-header .table-column-cell-4 .button {
  margin-left: -4px;
}
