@import "./Tab/Tab.module.css";
@import "./TabPanel/TabPanel.module.css";

.tabs {
  padding: 0px;
  margin: 0px;
  list-style: none;

  display: flex;
}

.tabs > li {
  cursor: pointer;
  flex: 1;
}

.tabs.tabs_default > li {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tabs.tabs_default > li .text {
  opacity: 0.5;
}

.tabs.tabs_default > li.active {
  background: linear-gradient(
      0deg,
      rgba(30, 33, 36, 0.75),
      rgba(30, 33, 36, 0.75)
    ),
    radial-gradient(
      137.13% 125.45% at 32.38% -58.62%,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(255, 255, 255, 0) 100%
    );
}

.tabs.tabs_default > li.active .text {
  opacity: 1;
}

.tabs.tabs_outline {
  position: relative;
  justify-content: space-between;
  flex-grow: 1;
}

.tabs-container {
  display: flex;
  padding: 0px 20px;
  overflow-x: scroll;
  background: rgba(30, 33, 36, 0.74);
  border-bottom: 1px solid var(--light-blue-15);
}

.tabs-container::-webkit-scrollbar {
  display: none;
}

.tabs-container::-webkit-scrollbar-thumb {
  display: none;
}

.tabs.tabs_outline > li {
  color: #9aa6b7;
}
.tabs.tabs_outline > li .tab-line {
  width: 100%;
  height: 2px;
  background: var(--white);
  opacity: 0;
}
.tabs.tabs_outline > li path {
  stroke: #9aa6b7;
}
.tabs.tabs_outline .tabs-line {
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  margin-left: -20px;
  background: var(--light-blue-15);
}

.tabs.tabs_outline > li.active {
  color: var(--white);
}
.tabs.tabs_outline > li.active .tab-line {
  opacity: 1;
}
.tabs.tabs_outline > li.active path {
  stroke: var(--white);
}
