@import "../components/Text/Text.module.css";
@import "../components/SvgIcon/SvgIcon.module.css";
@import "../components/Button/Button.module.css";
@import "../components/Avatar/Avatar.module.css";
@import "../components/Radio/Radio.module.css";
@import "../components/Number/Number.module.css";
@import "../components/Tooltip/Tooltip.module.css";
@import "../components/Accordion/Accordion.module.css";
@import "../components/DropDown/DropDown.module.css";
@import "../components/Select/Select.module.css";
@import "../components/SelectOption/SelectOption.module.css";
@import "../components/Menu/Menu.module.css";
@import "../components/Modal/Modal.module.css";
@import "../components/Table/Table.module.css";
@import "../components/Input/Input.module.css";
@import "../components/Tabs/Tabs.module.css";
@import "../components/Checkbox/Checkbox.module.css";
@import "../components/Pagination/Pagination.module.css";
@import "../components/ProgressBar/ProgressBar.module.css";
@import "../components/Filter/Filter.module.css";

@import "./App.css";
@import "./normalize.css";

@import "../pages/Users/Users.module.css";
@import "../pages/Orders/Orders.module.css";
@import "../pages/Blog/Blog.module.css";
@import "../pages/Tools/Tools.module.css";
@import "../pages/Services/Services.module.css";

:root {
  --transition-property: all;
  --transition-time: 0.4s;
  --transition-function: ease;

  color-scheme: light only;
}

#root {
  height: 100vh;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
  transition: var(--transition-property) 0s var(--transition-function);
  min-width: 280px;
}

* {
  box-sizing: border-box;
  transition: var(--transition-property) var(--transition-time)
    var(--transition-function);
}

body {
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
