.select-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.select-container .dropDown {
  overflow-y: scroll;
  position: absolute;
  width: calc(100% + 1px);
  bottom: 0px;
  z-index: 0;
  padding-top: 30px;
}

.select-container .dropDown::-webkit-scrollbar {
  display: none;
}

.select-container .dropDown::-webkit-scrollbar-thumb {
  display: none;
}

.select-container .dropDown.dropDown-active {
  height: fit-content;
}

.select {
  transition: z-index 0s var(--transition-function);
  z-index: 1;
  background: var(--blocks);
}

.select .select-info {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.select .select-info .selectOption_variant_default {
  padding: 0px;
}

.select .select-info .selectOption {
  overflow: hidden;
}

.select .select-info .selectOption_variant_default .text_variant_h4 {
  display: block;
  white-space: nowrap;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.select.variant-default {
  background: #fff;
  border: 1px solid rgb(201, 201, 201);
}

.select.variant-default + .dropDown {
  background: #fff;
  border: 1px solid rgb(201, 201, 201);
}

.select.variant-default .selectOption {
  flex-grow: 1;
}
