.settings {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}

.settings .settings-container {
  max-width: 1120px;
  width: 1120px;
  border-radius: 4px;
}

.settings .settings-container .settings-tools {
  display: flex;
  justify-content: space-between;
}

.settings .settings-container .settings-tools input {
  height: 30px;
}

@media (max-width: 600px) {
  .settings .filter .input {
    width: 150px;
  }
}
