.filter {
  position: relative;
  display: flex;
  z-index: 3;
}

.filter .input {
  border-radius: 4px 0px 0px 4px;
  width: unset;
}

.filter .input .leftSide {
  color: #a0a0a0;
}

.filter .right-border-radius {
  border-radius: 0px 4px 4px 0px;
}

.filter .select.variant-default {
  border-left: none;
}

.filter .select-container {
  width: 120px;
}

.filter .select-container .dropDown {
  min-width: unset;
  margin-left: -1px;
}
