.payment {
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  height: 100%;
}

.payment .payment-tools {
  display: flex;
  justify-content: space-between;
}

.payment .payment-tools .export {
  display: flex;
  align-items: center;
  gap: 15px;
}
.payment .payment-tools .export > .text {
  color: rgb(39, 73, 138);
}
