.number {
  border-radius: 50%;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.number_variant_large .text {
  font-family: "Space Grotesk";
  font-weight: 300;
  font-size: 36px;
  line-height: 50px;
}

.number_variant_large {
  width: 60px;
  height: 60px;
}

.number_variant_medium {
  width: 40px;
  height: 40px;
}

.number_variant_small {
  width: 20px;
  height: 20px;
}
