@import "./TableVariantsStyles/TableVariantUsers.module.css";
@import "./TableVariantsStyles/TableVariantServices.module.css";

.table {
  min-width: 1325px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid rgb(201, 201, 201);
}

.table .table-content {
  position: relative;
  z-index: 1;
}

.table .table-row-content {
  display: flex;
}

.table .table-header {
  position: relative;
  z-index: 2;
}

.table .table-header .text {
  margin-top: 2px;
}

.table:not(.table-variant-services) .table-row:hover,
.table .table-header {
  background: #f8f8f8;
}

.table .table-content,
.table .table-content .table-row {
  flex-direction: column;
}

.table .table-content .table-row,
.table .table-header {
  border-bottom: 1px solid rgb(201, 201, 201);
  display: flex;
}

.table .table-header [class*="table-column-cell"] {
  gap: 4px;
}

.table .table-header [class*="table-column-cell"],
.table .table-row [class*="table-row-cell"] {
  padding: 8px 4px 8px 8px;
  display: flex;
  align-items: center;
}

.table .table-row [class*="table-row-cell"] .button {
  padding: 4px 6px;
}

.table .table-row [class*="table-row-cell"] .button > div {
  gap: 5px;
}

.table .button > div .svgIcon {
  width: 7px !important;
  height: 7px !important;
  stroke: unset !important;
}
.table .table-row [class*="table-row-cell"] .button > div path {
  fill: #000;
}

.table .table-row [class*="table-row-cell"] .button .text {
  font-size: 12px;
  line-height: 16px;
}

.table .dropDown {
  top: 120%;
  right: -1px;
  left: unset;
  padding: 4px 0px;
}

.table .action-item {
  padding: 5px 15px;
}

.table .action-item:hover {
  background: rgb(231, 231, 231);
}

.table .action-item .text {
  text-align: left;
  display: block;
  font-size: 14px !important;
  line-height: 20px !important;
}

.table
  .table-header
  [class*="table-column-cell"]
  .button
  > div:not(.dropDown)
  > .text {
  font-weight: 700;
}

.table .table-row .table-row-content.suspended .text {
  color: rgb(187, 187, 187);
}

.table .table-row .table-row-content.suspended .text.status {
  border: 1px solid rgb(187, 187, 187);
}

.table .table-row:last-child {
  border-bottom: unset;
}

.table .table-row .table-row-content.suspended .button.actions .text {
  color: #000;
}
