.progress-bar-container {
  display: flex;
  height: 10px;
  width: 100%;
  border-radius: 10px;
  background: var(--elements);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.progress-bar-container .progress-bar {
  background: var(--gradient-green-yellow);
  border-radius: 10px;
  height: 10px;
  margin: -1px 0px;
}
