.accordion-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion-container > .dropDown {
  position: relative;
  padding: 0px !important;
  right: 0px !important;
}

.accordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f8f8f8;
  padding: 8px;
}

.accordion .accordion-info {
  color: var(--white);
  display: flex;
  padding: 10px 20px;
  align-items: center;
  justify-content: space-between;
}

.accordion .accordion-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.accordion .svgIcon path {
  fill: #000;
}

.accordion .drag-drop-icon {
  margin-bottom: 2px;
}

.accordion .drag-drop-icon path {
  fill: #aeaeae;
}

.accordion .button {
  padding: 6px 8px;
}

.accordion .button .dropDown {
  left: -1px;
  right: unset;
}

.accordion .show {
  display: flex;
  align-items: center;
  gap: 5px;
}

.accordion .show > .text {
  color: #367ab6;
  text-decoration-color: #367ab6;
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 2px;
}
